name: Build and Deploy React App

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Build the React app
        run: |
          npm install
          npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: react-build
          path: ./build

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v5
        with:
          name: react-build
          path: ./build

      - name: Add SSH key
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Copy build folder to server
        run: |
          scp -r ./build/* ubuntu@${{ secrets.SERVER_HOST }}:/var/www/html/

      - name: Restart NGINX on the server
        run: |
          ssh ubuntu@${{ secrets.SERVER_HOST }} "sudo systemctl restart nginx"
